* {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif !important;
}

.masthead {
  //background: url(/images/header.png) 100% 40% no-repeat;
  background: #7694a8;
  background: -moz-linear-gradient(top, #7694a8 0%, #ebeae8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7694a8), color-stop(100%,#ebeae8));
  background: -webkit-linear-gradient(top, #7694a8 0%,#ebeae8 100%);
  background: -o-linear-gradient(top, #7694a8 0%,#ebeae8 100%);
  background: -ms-linear-gradient(top, #7694a8 0%,#ebeae8 100%);
  background: linear-gradient(to bottom, #7694a8 0%,#ebeae8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7694a8', endColorstr='#ebeae8',GradientType=0 );
  background-size: 130%;

  img {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    float: left;
    margin-right: 2em;
  }
  
  h1, p {
    color: #fff;
    font-weight: bold;
  }
  
  h1 {
    margin-top: 2em;
    font-size: 28px;
    text-transform: uppercase;
  }
  
  p {
    font-size: 22px;
  }

  navigation {
    ul {
      position: fixed;
      right: 0;
      padding: 30px 30px 15px 30px;
      list-style: none;
      font-size: 15px;
      font-weight: bold;
      //background: rgba(255,255,255,0.3);
      li {
        a {
          color: #000;
          display: block;
          margin-bottom: 15px;
        } 
        &.active {
          a {
            color: #d70113;
          }
        }
      }  
    }
  }
}

section {
  
  padding: 155px 0;
  font-weight: bold;
  
  &#prologue {
    p {
      font-size: 25px;
    }
  }
  
  p {
    color: #9b968e;
    font-size: 20px;
  }

  strong {
    color: #56524b;
  }

  h2 {
    color: #6e685f;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2em;
  }
}

.odd {
  background: #ebeae8;
}

#development {
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
  }
  
  li li {
    color: #9b968e;
  }

  h3 {
    font-weight: bold;
    margin-right: 10px;
  }

  .frontend {
    color: #ebeae8;
    background: #777168 url(/images/frontend.png) 15px 10px no-repeat;
    padding: 20px 20px 20px 75px;
  } 
  
  .backend {
    color: #ebeae8;
    background: #777168 url(/images/backend.png) 15px 10px no-repeat;
    padding: 20px 20px 20px 75px;
  } 
  
  .infrastructure {
    color: #ebeae8;
    background: #777168 url(/images/infrastructure.png) 15px 10px no-repeat;
    padding: 20px 20px 20px 75px;
  } 
}

.spacer {
  padding-top: 155px;
}

.tiny_spacer {
  padding-top: 35px;
}

#usability {
  img {
    margin-top: 5px;
    border: 3px solid #5b5751;
    padding: 1px;
  
    &.negative {
      border-color: #a20b00;
    }
  
    &.positive {
      border-color: #488412;
    }
  }
  
  li {
    font-size: 20px;
    color: #9b968e;
  }
} 

#contact {
  ul {
    list-style: none;
    width: 420px;
    margin: 0 auto;
    height: 10px;
    padding: 0;
  }
  
  li {
    float: left;
    margin: 0 5px 0 5px;
    padding: 0;
  }
  
  li a {
    display:block;
    height: 60px;
    width: 60px;
    background: url(/images/social.png) 0 0 no-repeat;
  }
  
  .facebook {
    background-position: -60px 0;
  }
  .github {
    background-position: -120px 0;
  }
  .google {
    background-position: -180px 0;
  }
  .linkedin {
    background-position: -240px 0;
  }
  .skype {
    background-position: -300px 0;
  }
}